asyncio==3.4.3
pyppeteer==0.2.2
google-api-python-client==2.41.0
google-cloud-pubsub==2.11.0
google-cloud-storage==2.2.1
Quart==0.17.0
# Keep Hypercorn on the most recent working version for now.
# (UC-13651) For some reason, after the upgrade to 0.13.0+, the server fails shortly after a streaming request is
#  received.
Hypercorn==0.12.0
# Pin jinja2 to an older version for Hypercorn compatibility (https://gitlab.com/pgjones/quart/-/issues/458).
Jinja2==3.0.3
httpx==0.22.0
kubernetes==12.0.1
urllib3==1.26.9
datadog==0.39.0
asyncinotify==2.0.2
